<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/add}" th:object="${user}">
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <label for="firstName">First name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br>
    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <label>Enter role:</label>
    <br>
    <select th:name="idRoles" multiple="multiple">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:selected="${role.getName().equals('ROLE_USER')}"
                th:text="${role.getName().substring(5)}">
        </option>
    </select>
    <input type="submit" value="Register">

</form>

</body>
</html>