<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
    html, body {
        height: 100%;
    }
</style>
<div class="modal" tabindex="-1" role="dialog" id="myEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:method="PUT"  th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" >

                    <div class="form-group">
                        <label for="username" class="control-label">Username</label><br>
                        <input type="text" th:field="*{username}" id="username">
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label">First name</label><br>
                        <input type="text" th:field="*{firstName}" id="firstName" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label">Last name</label><br>
                        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label><br>
                        <input type="text" th:field="*{email}" id="email"
                               placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label">Password</label><br>
                        <input type="text" th:field="*{password}" id="password"
                               placeholder="Password">
                    </div>
                    <tr>
                        <th>Role:</th>
                        <td>
                            <select th:name="idRoles" multiple class="form-control">
                                <option th:each="role : ${listRoles}"
                                        th:value="${role.id}"
                                        th:selected="${role.getName().equals('ROLE_ADMIN')}"
                                        th:text="${role.getName().substring(5)}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <br><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input class="btn btn-primary" type="submit" value="Edit">
            </div>
        </div>
    </div>
</div>
</body>
</html>