<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h2>Update user</h2>
<br>
<form th:method="PUT" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label th:for="username">Username</label>
    <input type="text" name="username" th:id="username" th:value="${user.getUsername()}">
    <br/>
    <label th:for="password">Password</label>
    <input type="text" name="password" th:id="password" th:value="${user.getPassword()}">
    <br/>
    <label th:for="firstName">First name</label>
    <input type="text" name="firstName" th:id="firstName" th:value="${user.getFirstName()}">
    <br/>
    <label th:for="lastName">Last name</label>
    <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}">
    <br/>
    <label th:for="email">Email</label>
    <input type="text" name="email" th:id="email" th:value="${user.getEmail()}">
    <br/>
    <label>USER</label>
    <input type="checkbox" value="ROLE_USER" th:name="checkBoxRoles"/>
    <br>
    <label>ADMIN</label>
    <input type="checkbox" value="ROLE_ADMIN" th:name="checkBoxRoles"/>
    <br><br>
    <input type="submit" value="Edit"/>
</form>
<br>
<form th:method="delete" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>
<h3><a href="/logout">Logout</a></h3>
</body>
</html>