<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<table th:border="1">
    <thead>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${user.getUsername()}">Username</td>
    <td th:text="${user.getPassword()}">Password</td>
    <td th:text="${user.getFirstName()}">First name</td>
    <td th:text="${user.getLastName()}">Last name</td>
    <td th:text="${user.getEmail()}">Email</td>
    <td>
        <div th:each="role: ${user.getRoles()}">
            <span th:if="(${role.getName()} == 'ROLE_USER')" th:utext="User"></span>
            <span th:if="(${role.getName()} == 'ROLE_ADMIN')" th:utext="Admin"></span>
        </div>
    </td>
    <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a></td>
    <td><a th:href="@{/admin/users}">Main</a></td>
    <br>
    <form th:method="delete" th:action="@{/admin/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete">
    </form>
    </tbody>
</table>

</body>
</html>